.gray{
    background-color: gray !important;
    color: white;
}
.red{
    background-color: red !important;
    color: white;
}
.black{
    background-color: black !important;
    color: white;
}
.blue{
    background-color: blue !important;
    color: white;
}
.orange{
    background-color: orange !important;
    color: white;
}
.alma{
    color: green !important;
}
.körte{
    color: red !important;
}